<!DOCTYPE html>
<html lang="en">
<head>
    <title>🪸Myapp</title>
</head>
<body>
    <center>
        <h3>🪸Protfolio.co...</h3>
    </center>


        <hr>
        <fieldset style="width: 410px;">
            <form method="POST">
                <h6>Enter Data,</h6>
                <span>upload your profilePic:</span>
                <input type="text" name="pic" id="">
                <br><br>
                <input type="text" name="uname" id="" placeholder="Enter Username">
                <br><br>
                <input type="email" name="email" id="" placeholder="Enter Email">
                <br><br>
                <button type="submit">Submit</button>
            </form>
        </fieldset>




        <h3>myProfile</h3>
        {# retriving profile data #}
        {% if data %}
            <hr>
            <img src="{{ data['pic'] }}" alt="dp" width="220">
            <p><b>Username:</b> {{ data['uname'] }}</p>
            <p><b>Email: </b> {{ data['email'] }}  </p>
        {% endif %}






</body>
</html>
